<% if model.errors.any? %> 
  <div class = "alert alert-warning">
  	<p1 class = "message"><%= @book.errors.count %> errors prohibited this book from being saved:</p1>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>